<h1 class="text-center">Lista Contatti</h1>
<h2 class="mb-4">Cerca contatto</h2>
<form class="d-flex mb-4" role="search" onsubmit="cerca(event)">
  <input
    class="form-control me-2"
    type="search"
    placeholder="Cerca..."
    aria-label="Search"
    (keyup)="cercaContatto($event)"
  />
</form>

<div class="row">
  <div class="col-md-4 mb-4" *ngFor="let contact of contactListfiltrata">
    <app-contact-card
      [contact]="contact"
      (delete)="deleteContactSelected($event)"
    ></app-contact-card>
  </div>
</div>
