<mat-card class="contact-card">
  <mat-card-header>
    <mat-card-title class="card-title"
      >Contatto N. {{ contact.id }}</mat-card-title
    >
  </mat-card-header>
  <mat-card-content>
    <p>Nome: {{ contact.name }}</p>
    <p>Email: {{ contact.email }}</p>
  </mat-card-content>
  <mat-card-actions>
    <button href="#" mat-button (click)="onDelete()">Cancella Contatto</button>
    <br />
    <button mat-button [routerLink]="['/dettaglio', contact.id]">
      Dettagli Contatto
    </button>
  </mat-card-actions>
</mat-card>
