<div class="card" style="width: 18rem">
  <div class="card-body">
    <h5 class="card-title">Contatto N. {{ contact.id }}</h5>
  </div>
  <ul class="list-group list-group-flush">
    <li class="list-group-item">Nome: {{ contact.name }}</li>
    <li class="list-group-item">Email: {{ contact.email }}</li>
  </ul>
  <div class="card-body">
    <div class="row">
      <button href="#" class="btn btn-danger mb-3" (click)="onDelete()">
        Cancella Contatto
      </button>
      <br />
      <button
        class="btn btn-primary mb-1"
        [routerLink]="['/dettaglio', contact.id]"
      >
        Dettagli Contatto
      </button>
    </div>
  </div>
</div>
